{% extends 'pdbase/base.html' %}
{% block 'title' %}MSA{% endblock%}

{% block 'content' %}
    <h1>{{msa}}</h1>
    <table class="table table-striped">
        <tr>
            <th>Position</th>
            <th>Aligned residues</th>
        </tr>
    {% for p in msa.positions.all %} 
        <tr>
            <td><a href="{% url 'msa_position' p.num %}"><button class="btn btn-info">{{ p.num }}</button></a></td>
            <td>{%for res in p.aligned_residues.all %}<span class="badge">{{res}}
            {#<a href="{%url 'residue_view' res.chain.pdb.code res.chain.chain_id res.pk %}">{{ res }}</a>#}
            </span>{% endfor %}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}


{% block '_footer' %}
{% endblock %}
