{% extends 'pdbase/base.html' %}
{% block 'title' %}Active site for {{trajectory.pk}}{% endblock%}

{% block 'extra_css' %}
<style>
    body {background:#e5f55f;}
    .container {max-width:100%;}
    .corr {padding:3px;color:white;}
    .avocado {border:1px solid white;width:100px;padding:1px;}
    figure {
    display:inline-block;
    }
    .active_site {
      position:relative;
      margin: 1px;
    }
    .active_site_img {
      position:relative;
      border:blue 1px solid;
      margin: 1px;
      width:250px;
    }
    .active_site figcaption {
      position: absolute;
      top: 10%;
      right: 10%;
      text-align:center;
      color:blue;
      font-size:16px;
      opacity:0.5;
    }
    .analysis_img {
      border:blue 1px solid;
      margin: 1px;
      width:100%;
    }
</style>
{% endblock %}

{% block 'content' %}
    <a href="{%url 'MDtrajectoryView' trajectory.pk%}"><button class="btn btn-info">Trajectory</button></a>
    <a href="{% url 'avocados' trajectory.pk chain %}"><button class="btn btn-info">Active sites</button></a>
    {% for c in 'ABCDEF'%}
        <a href="{%url 'avocados_active_site' trajectory.pk c %}"><button class="btn btn-info">Active site {{c}}</button></a>
    {% endfor %}
    <hr>
<div class="row">
    <div class="col-md-12">
        <h2>Active site {{chain}}</h2>
        {% for k,v in amino_acids.items %}
            <figure class="active_site">
                <a href="{%url 'correlations_circular' trajectory.pk k %}" alt="">
                <img class="active_site_img" src="/static/avokado/{{trajectory.pk}}/replica/aa/{{k}}.gif" alt=""></a>
                    <figcaption> <b>{{v}}</b></figcaption>
            </figure>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Analysis</h2>
        <img class="analysis_img" src="/static/avokado/{{trajectory.pk}}/replica/analysis.png" alt=""></a>
    </div>
</div>

{% endblock %}

{% block 'extra_scripts' %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %}

{% block '_footer' %}
{% endblock %}
