{% extends 'pdbase/base.html' %}
{% block 'title' %}Change points plot{% endblock%}

{% block 'extra_css' %} 
<link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.3.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.3.min.css"/>
<style>
    .container {max-width:90%;}
</style>
{% endblock %}
{% block 'extra_head' %} 
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.3.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.3.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.3.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.3.min.js" crossorigin="anonymous"></script> 
{% endblock %}

{% block 'content' %}
    <div class="container">
        <h1>Changepoints plot for trajectory <a href="{%url 'MDtrajectoryView' id%}"><button class="btn btn-info">Trajectory {{id}}</button></a>
        <div class="dropdown show float-right">
              <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other trajectories
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for i in traj_list%} 
                <a class="dropdown-item" href="{%url 'changepoints_plot' i %}">{{i}}</a>
                {% endfor %}
              </div>
        </div>
        {{ div|safe }}
    </div>
{% endblock %}

{% block 'extra_scripts' %}
    {{ script | safe }}
{% endblock %}


{% block '_footer' %}
{% endblock %}
