{% extends 'pdbase/base.html' %}
{% block 'title' %}Changepoints for trajectory {{traj_id}}{% endblock%}

{% block 'extra_css' %}
<style>
    body {background:#fff;}
    .container {max-width:100%;}

    #svg {
    width:1100px;
    height:1000px;
    margin:5px;
    /*background: white;*/
    }

    .chainA circle {fill:blue;}
    .chainB circle {fill:red;}
    .chainC circle {fill:green;}
    .chainD circle {fill:orange;}
    .chainE circle {fill:violet;}
    .chainF circle {fill:purple;}

    svg path {
      fill: none;
      stroke: grey;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .analysis_img {
      border:blue 1px solid;
      margin: 1px;
      width:100%;
      z-index:-100;
    }
    .analysis_div {
      z-index:-110;
    }
    

    #cpts-div{
        float:right;
    }

    .aagif {
    width:250px;
    border:blue 0.5px solid;
    margin-top:10px;
    display:block;
    }

    .minigif {
    width:150px;
    border:#aaa 1px solid;
    padding:-1px;
    }

    circle { /*fill:#aaa;*/ /* r: 5;*/}

    circle:hover {opacity:1;}

    circle.highlight {
        /*fill: lime;*/
        /*r:15;*/ 
        /*opacity:1;*/
        stroke-width:3px;
        stroke:black;
    }

    circle.allc {
        /*fill: red;*/
        /*r:12;*/
        stroke-width:2px;
        stroke: black;
        opacity:0.8;
    }

    circle.corr {
        fill: green;
        r:15; 
        stroke-width:3px;
        opacity:1;
    }
    .canvas_div {
        z-index:-1000;
    }
</style>
{% endblock %}

{% block 'content' %}
{% include "md/menu.html" %}
<h1>Changepoints for trajectory <a href="{% url 'MDtrajectoryView' traj_id %}">{{traj_id}}</a></h1>
<div class="row">
    <div class="col-md-7">
        <p style="color:red;font-weight:bold;">Beware this shows a.a. with changepoints (scaled with their number) not correlations!</p>
        <svg id="svg"></svg>
        <button id="toggle-correlated" class="btn btn-info float-right">Toggle correlated!</button>
    </div>
    <div id="changepoints" class="col-md-5">
        <div id="cpts-div"></div>
        <svg id="cpts" style="height:500px;width:500px;border:1px solid grey;"></svg>
        <svg id="barcode" style="height:1000px;width:500px;"></svg>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 canvas_div">
        <canvas id="canvas"></canvas>
    </div>
</div>
{% endblock %}
{% block 'extra_scripts' %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
    const opacity_scale = d3.scaleLinear([-30,30],[0.2,1]);
    const line = d3.line().x(d=>d[0]).y(d=>d[1]).curve(d3.curveLinear);
    var corr = [];
    var all_correlated = {{all_correlated}};
    var hubs = {{cpts_by_number}};
    var changepoints = {{cpts|safe}};
    var neighbours = {{neighbours|safe}};
    const conservation_scale = d3.scaleSequential([1,Math.max(...Object.values(hubs))], d3.interpolateTurbo);
    const size_scale = d3.scaleLinear([1,Math.max(...Object.values(hubs))],[5,20]);
    const cpts_color_scale = d3.scaleSequential([0,6], d3.interpolateTurbo);
    const cpts_size_scale = d3.scaleLinear([0,6],[4,40]);

//function get_changepoints (n) { var r = changepoints.filter(i => i['aa'] == n)[0]; return r.cpts;}
function get_changepoints (n) {
    var nbrs = neighbours[n];
    var cpts = changepoints.filter(i => i['aa'] == n)[0].cpts; 
    //console.log(cpts);
    var out = [];
    var i = 0;
    for (c of cpts) { out.push({'i':i,'n':n,'t':c.t,'s':c.s});}
    for (n of nbrs) { 
                    var l = changepoints.filter(j => j['aa'] == n);
                        if (l.length !== 0) {
                            i+=1;
                            for (cc of l[0].cpts) {
                                out.push({'i':i,'n':+n,'t':cc.t,'s':cc.s}); 
                            }
                        }
                    }
    console.log(out);
    return out;
    }

function barcode(e,n) {
    var svg = d3.select('svg#barcode');
    var cpts1 = get_changepoints(n);
    svg.selectAll('line').data(cpts1).join('line').
        attr('x1', d => 500 * d.t).
        attr('y1', d =>  1 + d.i*19).
        attr('x2', d => 500 * d.t).
        attr('y2', d => 19 + d.i*19).
        attr('stroke-width', d => 1.8*d.s).
        attr('opacity', 0.8).
        attr('stroke', d => cpts_color_scale(d.s));
    }

function toggleCorrleated() {
    for (i of all_correlated) { $('#c'+i).toggleClass('allc')};
};

const toggcorr = document.querySelector('button#toggle-correlated');
toggcorr.addEventListener('click', toggleCorrleated);

function saveSvg(textToWrite, fileNameToSaveAs, fileType) {
    let textFileAsBlob = new Blob([textToWrite], { type: fileType });
    let downloadLink = document.createElement('a');
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = 'Download File';
    
    if (window.webkitURL != null) {
        downloadLink.href = window.webkitURL.createObjectURL(
            textFileAsBlob
        );
    } else {
        downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        downloadLink.style.display = 'none';
        document.body.appendChild(downloadLink);
    }
    
    downloadLink.click();
}

function styleAsString() {
    var s = '<style>';
    for (r of document.styleSheets[3].rules) {
        s += r.cssText;
    }
    return s+'</style>';
};

const svgbtn = document.querySelector('button#get-SVG');
svgbtn.addEventListener('click', function () {
    var svgNode = document.querySelector('svg');
    var svgString = (new XMLSerializer()).serializeToString(svgNode);
    svgString = svgString.slice(0,49) + styleAsString() + svgString.slice(49);
    //console.log(svgString);
    saveSvg(svgString, {{traj_id}}+'.svg','text/svg');
});

function triggerDownload(imgURI) {
    const a = document.createElement('a');
    a.download = '{{traj_id}}.png'; // filename
    a.target = '_blank';
    a.href = imgURI;
    // trigger download button
    // (set `bubbles` to false here.
    // or just `a.click()` if you don't care about bubbling)
    a.dispatchEvent(new MouseEvent('click', {
    view: window,
    bubbles: false,
    cancelable: true
    }));
}

const btn = document.querySelector('button#get-PNG');
btn.addEventListener('click', function () {
    var svgNode = document.querySelector('svg');
    var svgString = (new XMLSerializer()).serializeToString(svgNode);
    svgString = svgString.slice(0,49) + styleAsString() + svgString.slice(49);
    //console.log(svgString);
    const svgBlob = new Blob([svgString], {
    type: 'image/svg+xml;charset=utf-8'
    });
    const DOMURL = window.URL || window.webkitURL || window;
    const url = DOMURL.createObjectURL(svgBlob);
    const image = new Image();
    image.width = svgNode.width.baseVal.value;
    image.height = svgNode.height.baseVal.value;
    image.src = url;
    image.onload = function () {
    const canvas = document.getElementById('canvas');
    canvas.width = image.width;
    canvas.height = image.height;
    const ctx = canvas.getContext('2d');
    ctx.drawImage(image, 0, 0);
    DOMURL.revokeObjectURL(url);
    const imgURI = canvas
      .toDataURL('image/png')
      .replace('image/png', 'image/octet-stream');
    triggerDownload(imgURI);
    };
});

function get_corr() {
    //Get correlation json file
    d3.json('/md/corr/{{traj_id}}').then( function(data) {
        corr = data;
    });
};

function get_data() {
    d3.json('/md/coords/').then( function( data ) {
        return data;
    });
};

function showchpts (e,d) {
    var targets = corr.filter(j => j.source == d & Math.abs(j.value) > 0.5);
    targets = targets.map(j => j.target);
    uniq = [...new Set(targets)];
    var cpts = changepoints.filter(i => i.aa == d);
    var source = '';
    var tt = d3.select('#cpts-div');
    // top image showing the hovered amino acid's gif
    var source = '<a href="https://alokomp.irb.hr/md/correlations_circular/{{traj_id}}/' + d +'"><img class="aagif" src=' + '"https://alokomp.irb.hr/static/avokado/{{traj_id}}/replica/aa/' + d +'.gif" alt="None" /img></a><hr>';
    //for (d of uniq) {
    //    source += '<li>' + d + '</li>';
    //};
    tt.html(source);

    d3.select( "#cpts" )
    .append('g')
    .selectAll( "circle" )
    .data(cpts[0].cpts)
    .enter()
    .append( "circle" )
    .attr( "cx", function(d) { return d.t*500})
    .attr( "cy", function(d) { return d.t*500})
    .attr( "stroke-color", "black")
    .attr( "stroke-width", 1)
    .attr( "r", function(d) { return cpts_size_scale(d.s)})
    .attr( "opacity",0.5)
    .attr( "fill", function(d) { return cpts_color_scale(d.s)});

    var sele = d3.selectAll('circle')
        .filter(function(d,i) {return targets.includes(i+1)})
        .classed('highlight corr',true)
        .text(d);
    }

function hide(e,d) {
    d3.selectAll('circle.corr')
    .classed('corr',false);
    }

let zoom = d3.zoom().on('zoom', handleZoom);

function handleZoom(e) {
    d3.selectAll('#svg g')
    .attr('transform', e.transform);
}

function initZoom() {
    d3.select('#svg')
    .call(zoom);
}

function draw_chain(c) {
    d3.json('/md/coords/').then( function( data ) {
        coords = data[c];
        var offset = {'A':0,'B':233,'C':466,'D':699,'E':932,'F':1165};
        coords = coords.map((x,i) => [x[0]*10+550,x[1]*10+500,x[2],i+1+offset[c],hubs[i+1+offset[c]]]); 

        d3.select('#svg')
          .append('g')
          .append('path') // add a path to the existing svg
          .attr('d', line(coords));

        d3.select( "#svg" )
        .append('g')
        //.attr('class', 'chain'+c)
        .selectAll( "circle" )
        .data(coords)
        .enter()
        .append( "circle" )
        //.on('click', (e,d) => showchpts(e,d[3]))
        //.on('click', function(e,d) {barcode(e,d[3]); showchpts(e,d[3]);})
        .on('mouseover', function(e,d) {barcode(e,d[3]); showchpts(e,d[3]);})
        .on('mouseout', (e,d) => hide(e,d))
        .attr("cx", function(d) { return d[0]})
        .attr("cy", function(d) { return d[1]})
        .attr("stroke-color", "black")
        .attr("stroke-width", 1)
        .attr("r", function(d) { return size_scale(d[4])})
        .attr("id", function(d,i) { return 'c'+d[3]})
        //.attr( "opacity", function(d) { return opacity_scale(d[2]) })
        .attr( "fill", function(d) { return conservation_scale(d[4])})
        });
    }

function run(){
    for (c of ['A','B','C','D','E','F']) {
        draw_chain(c);
    };
}

    get_corr();
    run();
    initZoom();
    handleZoom();
    </script>
  {% endblock %}
{% block '_footer' %}
{% endblock %}
