<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
  <a class="navbar-brand" href="{% url 'pdbase_home' %}">PDBASE</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}">Home</a> </li>
      <li class="nav-item"> <a class="nav-link" href="{% url 'pdbase_home'%}">PDBASE</a></li>
      <li class="nav-item"> <a class="nav-link" href="{% url 'structures_list' %}">Structures</a> </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alignments</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
          <a class="dropdown-item" href="{% url 'alignments_list'%}">Alignments</a>
          <a class="dropdown-item" href="{% url 'msa' 1 %}">MSA alignment</a>
        </div>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MD</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
          <a class="dropdown-item" href="{% url 'MDdirectoriesView' %}">MD directories</a>
          <a class="dropdown-item" href="{% url 'MDtrajectoriesView' %}">MD trajectories</a>
        </div>
      </li>      
      <li class="nav-item"> <a class="nav-link" href="{% url 'search' %}">Search</a> </li>
    </ul>
  </div>
</div>
</nav>
