{% extends 'pdbase/base.html' %}
{% block 'title' %}Structures list{% endblock%}

{% block 'content' %}
   <h1> List of PDB structures </h1>

    <table class="table">
        <tr>
            <th>No</th>
            <th>PDB code</th>
            <th></th>
            <th>Title</th>
            <th>Chains</th>
            <th>Assembly</th>
            <th>Symmetry</th>
        </tr>
        {% for pdb in pdbs %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'structure_view' pdb.code %}"><b style="font-size:28px;">{{ pdb.code }}</b></a></td>
            <td><a href="{% url 'structure_ngl_view' pdb.code%}"><button class="btn btn-success">view</button></a></td>
            <td>{{ pdb.title }}</td>
            <td><a href="{% url 'structure_ngl_view' pdb.code%}"><img src="https://www.ebi.ac.uk/pdbe/static/entry/{{pdb.code}}_deposited_chain_front_image-200x200.png" ></a></td>
            <td><a href="{% url 'structure_ngl_view' pdb.code%}"><img src="https://www.ebi.ac.uk/pdbe/static/entry/{{pdb.code}}_assembly_1_chemically_distinct_molecules_front_image-200x200.png" ></a></td>
            <td><a href="{% url 'structure_symmetry' pdb.code %}"><img style="width:100%;" src="/static/symmetry/{{pdb.code}}_001.png" alt=""></a></td>
            <td><a href="{% url 'd3_projections' pdb.code %}">d3 projections</a></td>
    
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}


{% block '_footer' %}
{% endblock %}
