{% extends 'base.html' %}
{% block 'title' %}{{item.title}}{% endblock%}

{% block 'content' %}
<a href="{% url 'news' %}"><button class="btn btn-info">Back to news list</button></a>
<div class="row">
      <div class="col-lg-12">
            <h5 class="float-right">{{item.created}}</h5>  
          <h3><a href="{% url 'news-item' item.slug %}">{{item.title}}</a></h3>
          <p>
            {{item.text|safe}}
          </p>
           <h2>Some photos</h2>
          {% for img in item.photos.all %}
               <figure>
               <img style="width:70%;margin:20px;" src="{{img.image.url}}" alt="{{img.image.caption}}">
                <figcaption>{{img.caption}}</figcaption>
              </figure> 
          {% endfor %}
           <h3>Files</h3>
          {% for f in item.files.all %}
                 <a href="{{f.file.url}}">{{f.description}}</a>
          {% endfor %}
      </div>
</div>
<hr>
{% endblock %}
