<!DOCTYPE html><html><head><meta charset="utf-8">
<title>Multiple sequence alignment</title>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<!-- Create a div where the graph will take place -->
</head><body><div id="my_dataviz"></div>
<!-- Load color palettes -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
<style>
  .svg-tooltip {
    font-family: -apple-system, system-ui,
      BlinkMacSystemFont, 'Segoe UI', Helvetica,
      Arial, sans-serif, 'Apple   Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    background: rgba(69, 77, 93, 0.9);
    border-radius: 0.1rem;
    color: #fff;
    display: block;
    font-size: 14px;
    max-width: 320px;
    padding: 0.2rem 0.4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
  }
</style>
<script src="/static/js/bundle.js"></script></body></html>
