{% extends 'base.html' %}
{% block 'title' %}ALOKOMP project - equipment{% endblock%}

{% block 'content' %}
   <h1> Equipment </h1>
    <div class="row">
      <div class="col-lg-12">
            <p class="card-text">
            The following equipment was bought during the first year of the project:

            <ul>
                <li> Vortex mixer for bacterial breeding</li>
                <li> Workstation for the needs of MD simulations and preparations for large-scale MD simulations  </li>
                <li> Service maintenance of equipment, regular preventive service of cryo-system of X-ray diffractometer CryoJetXL, water cooling units, and other small equipment  </li>
            </ul>
           
            </p>
            <img class="img-fluid" src="/static/images/equipment.jpg" alt="">
      </div>
    </div>
{% endblock %}
