{% extends 'base.html' %}
{% block 'title' %}ALOKOMP project - news{% endblock%}

{% block 'content' %}
<h1>News</h1>
<div class="row">
      <div class="col-lg-12">
          <a href="/static/images/protein_diffraction.jpg"><img class="float-left" style="width:400px;padding:10px;" src="/static/images/protein_diffraction.jpg" alt=""></a>          <h5 class="float-right">05. October 2021.</h5>  
          <h3>First protein data collections on new Synergy diffractometer</h3>
          <p>
            As part of initial testing of the brand new instrument, we have sucessfully collected first protein diffraction datasets. The diffraction was excellent up to 1.8 A resolution! 
          </p>
      </div>
</div>
<div class="row">
      <div class="col-lg-12">
          <a href="/static/images/synergy.jpg"><img class="float-left" style="width:400px;padding:10px;" src="/static/images/synergy.jpg" alt=""></a>        
         <h5 class="float-right">09. September 2021.</h5>  
          <h3>New diffractometer installed in the laboratory</h3>
          <p>
          Brand new single crystal diffractometer is finally installed in the laboratory. It is a Rigaku Oxford diffraction XtalLab Synergy system equipped with double source (Cu and Mo) and with various other additional components:
            <ul>
                <li>Cryo system capable of keeping the crystals in 80-400 K temperature range</li>
                <li>Powerfull microfocus sources</li>
                <li>Diamond anvil cell for high pressure studies</li>
            </ul>
          This instument is acquired as part of the <a href="https://ozip.irb.hr/">O-ZIP infrastructural project</a>!
          </p>
      </div>
</div>
<div class="row">
      <div class="col-lg-12">
          <img class="float-left" style="width:200px;padding:10px;" src="/static/images/BG.jpg" alt="">
          <h5 class="float-right">15. February 2021.</h5>  
          <h3>PhD student joins the team.</h3>
          <p>
            PhD student Boris Gomaz was employed in February 2021. As part of the project
            he will enroll to Doctoral study programme at the Faculty of Science, Chemistry
            department. He will be under direct mentorship of dr.  Zoran Štefanić and
            co-mentorship of prof. Bojana Dalbelo Bašić. His PhD thesis will be in centered
            around developing special relational database of PNP structures and machine
            learning algorythms for extracting information about the allosteric pathways
            from MD that database (under the guidance of prof. Dalbelo Bašić who has great
            expertise in this field). The visit to dr. Pandini's lab is also planned.
            <i class="bi bi-person"></i>
          </p>
      </div>
</div>
<div class="row">
      <div class="col-lg-12">
          <h5 class="float-right">15. October 2020.</h5>  
          <img class="float-left" style="width:30%;padding:10px;" src="/static/images/workstation.jpg" alt="">
          <h3>Supermicro workstation for number crunching purchased!</h3>
          <p>
           Supermicro SuperWorkstation is finally here! It features CPU Intel Xeon processor with 20 processor cores, 32GB DDR4 of RAM memory, 2 x 6TB storage space, and awesome NVIDIA RTX 2080 Ti graphics card for fast GPU computations. <i class="bi bi-lightning"></i>
           </p>
      </div>
</div>
<div class="row">
      <div class="col-lg-12">
          <h5 class="float-right">7. June 2020.</h5>  
          <img class="float-left" style="width:30%;padding:10px;" src="/static/images/shaker.jpg" alt="">
          <h3>Shaker for bacterial growth acquired</h3>
          <p>
            New Brunswick™ Innova® 44/44R - Stackable Incubator Shaker was purchased for bacterial growth as a first step in protein production.
                <i class="bi bi-arrow-left-right"></i>
           </p>
      </div>
</div>
{% endblock %}
