{% extends 'base.html' %}
{% block 'title' %}ALOKOMP project - team members{% endblock%}
{% block 'content' %}
   <h1 class="my-4">Team members<sup>*</sup></h1><p style='font-size:0.8em;'><sup>*</sup> in order of percentage of time on the project</p>

    <div class="row">
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:50%;" class="img-thumbnail" src="/static/images/ZS.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Dr. Zoran Štefanić</a>
            </h4>
            <h4>project leader</h4>
            <p class="card-text">
            Dr. Zoran Štefanić senior research associate and Head of the Laboratory for
            Chemical and Biological Crystallography at the Ruđer Bošković Institute. His
            main areas of expertise include: chemical crystallography of small organic
            molecules and hydrogen bonded networks, macromolecular crystallography, strong
            background in physics and mathematics, development of computer algorithms
            mainly in Python programming language, database design and web development.  As
            the principal investigator of the proposed project, he will be responsible for
            the overall coordination of the research and managing all activities between
            team members, organizational and financial matters, as well as for the
            publication of results, annual scientific and financial reports to the Croatian
            Science Foundation. More specifically in this project his tasks will be data
            collection and 3D structure determination of new enzyme structures, development
            of central relational database, programming of algorithms for data extraction,
            development of web server, and co-mentorship of PhD student.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:50%;" class="img-thumbnail" src="/static/images/ILA.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Dr. Ivana Leščić Ašler</a>
            </h4>

                Research associate in the Laboratory for Chemical and Biological
                Crystallography at the Ruđer Bošković Institute. She is experienced in various
                biochemical methods and techniques, such as chromatographic separation methods
                (including FPLC), various electrophoretic methods spectrophotometric and
                titrimetric methods for determination of protein activity, as well as molecular
                biology methods for protein cloning and expression. She will use her expertise
                for enzyme purification and characterization (enzyme kinetics w/o inhibitors,
                small molecule binding studies). Specifically, she will be in charge of
                purification and kinetic characterization of PNP from H. pylori with
                inhibitors. Also, she will work AdSS from H. pylori  in cooperation with Ante
                Bubić – purification, kinetic characterization with potential activator and
                binding studies of this enzyme with small molecules
                (substrates/inhibitors/activator). Thanks to her experience in micro
                crystallization of biological macromolecules (hanging drop technique,
                crystallization of proteins in gel), she will be included in crystallization of
                PNP and AdSS as well. Finally, she will work on preparation and
                characterization of mutants of studied enzymes, using the above-mentioned
                techniques.

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:45%;" class="img-thumbnail" src="/static/images/BG.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="">Boris Gomaz</a>
            </h4>

                PhD student Boris Gomaz was employed in February 2021. As part of the project
                he will enrol to Doctoral study programme at the Faculty of Science, Chemistry
                department. He will be under direct mentorship of dr.  Zoran Štefanić and
                co-mentorship of prof. Bojana Dalbelo Bašić. His PhD thesis will be in centered
                under developing special relational database of PNP structures and machine
                learning algorhythms for extracting information about the allosteric pathways
                from MD that database (under the guidance of prof. Dalbelo Bašić who has great
                expertise in this field). The visit to dr. Pandini's lab is also planned.
                
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:50%;" class="img-thumbnail" src="/static/images/AB.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Ante Bubić</a>
            </h4>
            <p class="card-text">

                Is a PhD student and a member of the Laboratory for Chemical and
                Biological Crystallography at the Ruđer Bošković Institute. His main areas of
                expertise include biochemistry and enzyme kinetics, molecular dynamics with
                strong background in biochemistry and molecular biology. As collaborator on the
                proposed project he will be responsible for crystallization trials and further
                biophysical characterization of AdSS protein, and MD simulations part of the
                project. 

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:70%;" class="img-thumbnail" src="/static/images/AM.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Dr. Aleksandra Maršavelski</a>
            </h4>

                Assistant professor at the Department of Chemistry, the Faculty of Science, the
                University of Zagreb. Her areas of expertise include: molecular dynamics
                simulations of proteins, lipids, membrane proteins, glycoproteins and
                carbohydrates as well as modelling of DNA/RNA nucleic acids in complexes with
                small compounds and/or proteins. Her areas of expertise also include modelling
                of enzymatically catalysed reactions by quantum-mechanical cluster approach and
                by EVB (empirical valence bond) simulations. In the proposed project, she will
                be responsible for the molecular dynamics simulations of model proteins.

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:40%;" class="img-thumbnail" src="/static/images/AP.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.brunel.ac.uk/people/alessandro-pandini">Dr. Alessandro Pandini</a>
            </h4>

                Lecturer in computer science at the Brunel University in London. His expertises
                include: computational chemistry methods (molecular simulations, molecular
                docking, molecular visualisation), machine learning methods (cluster analysis,
                PCA, neural networks, random forests), sructural bioinformatics methods
                (residue coevolution prediction, protein structure prediction), software
                development (C, Python) and collaborative tools (Eclipse, GitHub), statistics
                and data analysis (R, Python) and system administration (Linux). He developed
                the structural alphabet (SA), a method for encoding structural changes in
                molecular dynamic simulations of enzymes, and also a programme called GSATools
                for the analysis of those changes. Both the SA and the GSATools will be used
                throughout the project.

            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:50%;" class="img-thumbnail" src="/static/images/BDB.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Prof. Bojana Dalbelo Bašić</a>
            </h4>
            <p class="card-text">

                Full professor at Faculty of Electrical Engineering and Computing, University
                of Zagreb. Her research interests involve artificial intelligence, machine
                learning, multivariate statistics and visualisation, text analysis and
                information retrieval. She is one of the pioneers who introduced the discipline
                of machine learning in Croatian scientific community. In the proposed project
                her main role will be to choose the most appropriate set of machine learning
                techniques to apply to the data in the central relational database and their
                application to extract allosteric communication pathways. This will also
                involve mentoring of the PhD student in her/his thesis work on this subject.

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:50%;" class="img-thumbnail" src="/static/images/ABz.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="http://www.biogeo.uw.edu.pl/people/abzowska_en.html">Prof. Maria Agnieszka Bzowska</a>
            </h4>

                Professor at the Division of Biophysics, the Faculty of Physics, the University
                of Warsaw. Her areas of expertise include various methods of molecular
                biophysics and biochemistry, like spectroscopy, analytical ultracentrifugation,
                protein-ligand binding methods, kinetic studies. For many years she has been
                studying homooligomeric enzymes belonging to the PNP family, with the aim to
                understand the role of the allosteric communication in their molecular
                mechanism of catalysis. Her role in the project will be carrying out
                experiments characterizing wild type and mutated enzymes, PNP and AdSS from H.
                pylori, in solution, using analytical ultracentrifugation, kinetic measurements
                and enzyme-ligand binding studies involving spectroscopic, calorimetric and
                thermophoretic methods.

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 portfolio-item">
        <div class="card h-100">
          <a href="#"><img style="width:50%;" class="img-thumbnail" src="/static/images/IS.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Dr. Igor Sabljić</a>
            </h4>

                Senior professional associate in the Laboratory for Chemical and Biological
                Crystallography at the Ruđer Bošković Institute. His main area of expertise is
                macromolecular crystallography, but he is also experienced in various
                biochemical methods necessary for this project. He will be responsible for all
                crystallography related experiments: recombinant enzymes expression and
                purification, enzyme crystallization, collecting diffraction data (in house
                source and synchrotron), solving and analysing enzyme structures, and structure
                deposition in the Protein Data Bank. Due to his interest and basic knowledge of
                Python programming language he will be involved, in a small part, in a
                development of the database.

            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <hr>
{% endblock %}
