{% extends 'base.html' %}
{% block 'title' %}ALOKOMP project - news{% endblock%}

{% block 'content' %}
   <h1> Title </h1>
    <div class="row">
      <div class="col-lg-12">
            <h4 class="title">
              <a href="#">Template</a>
            </h4>
            <img class="img-fluid" src="/static/images/template.jpg" alt="">
            <p class="card-text">

               Elit quos mollitia unde quaerat repudiandae adipisci. Commodi
ducimus non pariatur voluptas quas officiis Aliquam voluptatem incidunt
asperiores iste quae accusantium. Mollitia quas ipsa quaerat at deleniti. Sed
amet sint sit tenetur dicta Molestias impedit dolorum deserunt impedit totam?
Impedit eveniet illo voluptatem accusamus nihil Ex quos expedita nobis
assumenda quam dicta vel fugit Molestias iste dicta sequi fugiat voluptates
Fuga est voluptatibus sequi at distinctio autem eligendi possimus. Vitae
eveniet facilis harum alias voluptates. Similique quia corporis pariatur eos
blanditiis Explicabo voluptatibus aliquam fuga sed eum Sint sunt officiis
impedit ipsa sit, optio natus Non at dolorum dolorum eius iste possimus!
Distinctio nisi dolorem omnis expedita ullam? Repellat tempora quas sapiente
dignissimos corrupti! Repudiandae explicabo dolore eum aut dolores. Porro porro
accusantium voluptate molestiae adipisci rerum. Voluptas facere quo dignissimos
est a atque Fugiat minima quidem explicabo dolorum magnam necessitatibus
laborum expedita? Sapiente beatae laborum commodi ex neque molestias eligendi.
Itaque quibusdam eos officia sapiente expedita animi, unde, dolores Suscipit
cum vel inventore iste numquam impedit Non totam optio nihil nulla dicta
            </p>
      </div>
    </div>
{% endblock %}
