{% extends 'pdbase/base.html' %}
{% block 'title' %}Alignment {{alignment}}{% endblock%}

{% block 'content' %}
    <h1>{{a}}</h1>
    <table class="table table-stripped">
        <tr>
            <th>Residue match</th>
            <th>Distance</th>
            <th>Fixed</th>
            <th>Moving</th>
        </tr>
    {% for p in positions %} 
        <tr>
            <td>{{p}}</td>
            <td>{{p.distance|floatformat:2}}</td>
            <td>{{p.fixed}} {{p.fixed.msa_position}}</td>
            <td>{{p.moving}} {{p.moving.msa_position}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

  {% block 'extra_scripts' %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
    //var scaler = d3.interpolateViridis;
    var scaler = d3.interpolateReds;
    //var scaler = d3.interpolatePiYG;
    //var scaler = d3.interpolateRdPu;
    //color Q score
    rmsscale = d3.scaleSequential([0,5], scaler);
    $('tr > td:nth-child(2)').each(function(){$(this).css('background-color',rmsscale($(this).html())); });
    </script>
  {% endblock %}

{% block '_footer' %}
{% endblock %}
