{% extends 'pdbase/base.html' %}
{% block 'title' %}Alignments list{%endblock%}

{% block 'content' %}
    {% if is_paginated %}
        {% include "pagination.html" %}
    {% endif %}
    <h1>Alignments list (total: {{paginator.count}})</h1>
    <table class="table table-stripped">
        <tr>
            <th>Alignment</th>
            <th>Qscore</th>
            <th>RMSD</th>
            <th>Number aligned</th>
        </tr>
    {% for a in alignments %} 
        <tr>
            <td><a href="{% url 'alignment' a.chain_fixed.pdb.code a.chain_fixed.chain_id a.chain_moving.pdb.code a.chain_moving.chain_id %}">{{a}}</a></td>
            <td>{{a.Qscore}}</td>
            <td>{{a.rmsd}}</td>
            <td>{{a.aligned_num}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}


{% block '_footer' %}
{% endblock %}
