{% extends 'pdbase/base.html' %}
{% block 'title' %}D3 projections for {{pdb}}{% endblock%}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/site_media/static/css/style.css">
{% endblock %}
{% block 'extra_css' %}
<style>
.container {max-width:98%;}
svg {
    width:900px;
    height:500px;
    border:1px solid grey ;
    margin: 5px;
    float: left;
}
.chainA { fill: red; }
.chainB { fill: green;}
.chainC { fill: blue; }
.chainD { fill: yellow; }
.chainE { fill: purple; }
.chainF { fill: cyan; }
.chainG { fill: orange; }
.chainH { fill: teal; }
</style>
{% endblock %}

{% block '_footer' %}
{% endblock %}

{% block 'content' %}
<div class="container">
            <h1><a href="{% url 'structure_view' pdb.code %}">{{pdb}}</a><a href="{% url 'space_groups' pdb.unit_cell.num %}">{{pdb.unit_cell.sg}}</a></h1>
            <h3><b>001</b></h3>
            <svg id="svg_001"></svg>
            <h3><b>010</b></h3>
            <svg id="svg_010"></svg>
            <h3><b>100</b></h3>
            <svg id="svg_100"></svg>
</div>
{% endblock %}

{% block 'extra_scripts' %}
<script src="https://d3js.org/d3.v7.js"></script>
<script type="text/javascript" src="/static/js/planegroups.js"></script>
<script type="text/javascript" src="/static/js/calculate.js"></script>
<script>
const numCells = 10;
const circle_radius = 10;
const scale = 1;

// This comes from Django
const d = {{pdb.unit_cell.projections|safe}};
const chains = {{chains|safe}};
console.log(chains);

const a = get_data(d)[0];
const b = get_data(d)[1];
const c = get_data(d)[2];
const alpha = get_data(d)[3];
const beta = get_data(d)[4];
const gamma = get_data(d)[5];
const gammar = get_data(d)[6];
console.log('params =', a, b, c, alpha, beta, gamma, gammar);

function get_data(data) {
    //d3.json('https://alokomp.irb.hr{% url "d3_json" code %}').then(
    //var a, b, c, alpha, beta, gamma, gammar;
    //function (data) {
        let a = data['uc'][0];
        let b = data['uc'][1];
        let c = data['uc'][2];
        let alpha = data['uc'][3];
        let beta = data['uc'][4];
        let gamma = data['uc'][5];
        let gammar = (gamma/180)*Math.PI;
        return [a,b,c,alpha,beta,gamma,gammar];
    };

/*
//d3.json('https://alokomp.irb.hr{% url "d3_json" code %}').then(get_cell_data);
*/

function calculate_cells(p) {
    let cells = []; 
    for (xy of p) {
    cells = cells.concat(generateCells1(xy));
}
    return cells;
}

function create_one_svg (data,proj,chain) {
d3.select('#svg_'+proj)
   .append('g')
   .selectAll('circle')
   .data(data)
   .join("circle")
   .attr("cx", function(da) {return scale * da[0]; })
   .attr("cy", function(da) {return scale * da[1]; })
   .attr("opacity", function(da) {return da[2]; }) 
   .attr('class', 'chain'+chain)
   .attr("r", circle_radius)
   //.style("fill", randomColor());
}

for (pr of ['001','010','100']) {
    for (ch of chains) {
        var d1 = d[pr][ch];
        dd1 = calculate_cells(d1);
        create_one_svg(dd1,pr,ch);
    }
}
</script>

{% endblock %}
