{% extends 'pdbase/base.html' %}
{% block 'title' %}Structure {{code}} symmetry{% endblock%}

{% block 'content' %}
    <h1><a href="{% url 'structure_view' code %}">PDB {{pdb}}</a></h1>
    <h1><a href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{pdb}}">{{pdb}}</a></h1>
    <h3>{{ pdb.title }}</h3>
    <img src="https://www.ebi.ac.uk/pdbe/static/entry/{{code}}_deposited_chain_front_image-200x200.png" ></td>
    <img src="https://www.ebi.ac.uk/pdbe/static/entry/{{code}}_assembly_1_chemically_distinct_molecules_front_image-200x200.png" ></td>
    <a href="https://www.ebi.ac.uk/pdbe/entry/view3D/{{code}}/?view=entry_index&viewer=litemol&assembly=1"><button class="btn btn-info">View 3D</button></a>
    <a href="{% url 'structure_ngl_view' code%}"><button class="btn">NGL view</button></a>
    <h4>Symmetry of {{pdb}}</h4>
            <img style="width:40%;margin:20px;" src="/static/symmetry/{{code}}_coms.png" alt="">
            <img style="width:40%;margin:20px;" src="/static/symmetry/{{code}}_001.png" alt="">
            <img style="width:40%;margin:20px;" src="/static/symmetry/{{code}}_010.png" alt="">
            <img style="width:40%;margin:20px;" src="/static/symmetry/{{code}}_100.png" alt="">
    
{% endblock %}

{% block '_footer' %}
{% endblock %}
